@import "./root/variables";

.slogan {
  margin-top: 63px;
  width: 1338px;
  height: 548px;
  background-image: url(../image/hero-image/learning-languages-1x.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 131px;
}

.slogan__title {
  display: block;
  width: 386px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  color: $title-color;
}

.slogan__referens {
  display: block;
  width: 360px;
}
