/* =====root===== */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
section {
    width: 100%;
}
.container {
    padding-left: 131px;
    padding-right: 131px;
}

/* ======HEADER=====  */
 .header {
    display: flex;
}
.menu {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #263238;
    }
.menu__item:first-child {
padding-left: 236px;
}
.menu__item:not(:last-child) {
    padding-right: 50px;
}

.inviting-btm {
    display: block;
    margin-left: 100px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 56px;
    padding-right: 56px;

    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #000000;
}
